<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Contact List</title>
    <style>
    
      h1 {
        margin-top: 0;
        color: #333;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
      }

      li:last-child {
        border-bottom: none;
      }

      strong {
        font-weight: bold;
        color: #555;
      }
        .chat-list-item {
            border-bottom: 1px solid #e5e5e5;
            padding: 15px;
        }
        .chat-list-item:hover {
            background-color: #f1f1f1;
        }
        .profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .time {
            font-size: 12px;
            color: #999;
        }
    </style>

  </head>
  <body>
    <div class="col-lg-8 mx-auto">
      <h1 class="text-center my-2">Contact List</h1>
      <div class="text-center mb-4">
        <h4>Total Contacts: <%= channels.length %></h4>
      </div>
        <div class="list-group">
          <% channels.forEach(function(contact) { %>
            <div class="chat-list-item">
                <div class="d-flex">
                    <span class="profile-pic mr-3">
                        <% if(contact.type == "User"){ %> <span style="font-size: 1.5em;" title="User">👤</span> <% } %>
                        <% if(contact.type == "Group"){ %> <span style="font-size: 1.5em;" title="Group">👥</span> <% } %>
                        <% if(contact.type == "Channel"){ %> <span style="font-size: 1.5em;" title="Channel">📢</span> <% } %>      
                    </span>
                    <div>
                        <h5 class="mb-1"><%= contact.name || "Deleted Account" %></h5>
                      <% if (contact.phone) { %>
                        <small>Mobile: +<%= contact.phone %></small><br/>
                      <% } %>
                            <% if (contact.lastMessage) { %>
                            <small class="text-info"><%- contact.lastMessage.replace(/\n/g, '<br>') %></small>
                            <% } %>
                    </div>
                </div>
                <div class="text-right">
                    <span class="time"><%= new Date(Number(contact.lastMessageTimestamp) * 1000).toLocaleDateString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' }) %></span>
                </div>
            </div>
          <% }); %>
        </div>
    </div>
  </body>

</html>
